<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSDualHttpBinding_IMod">
                    <reliableSession />
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="SspiNegotiated" requireDerivedKeys="true"
                            includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                            requireSignatureConfirmation="false">
                            <localClientSettings detectReplays="true" />
                            <localServiceSettings detectReplays="true" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <compositeDuplex />
                    <oneWay />
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISuperCalc" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculator">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10032/Calculator/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator"
                contract="ServiceReference1.ICalculator" name="BasicHttpBinding_ICalculator" />
            <endpoint address="http://localhost:10032/Calculator/endpoint2"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
                contract="ServiceReference1.ICalculator" name="WSHttpBinding_ICalculator" />
            <endpoint address="http://localhost:10032/SuperCalc/endpoint3"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISuperCalc"
                contract="ServiceReference2.ISuperCalc" name="WSDualHttpBinding_ISuperCalc">
                <identity>
                    <userPrincipalName value="DESKTOP-6DQ3BMN\Dell" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:10032/Modification/endpoint4"
                binding="customBinding" bindingConfiguration="WSDualHttpBinding_IMod"
                contract="ServiceReference3.IMod" name="WSDualHttpBinding_IMod">
                <identity>
                    <userPrincipalName value="DESKTOP-6DQ3BMN\Dell" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>